<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href="./css//login.css">
    <title>Login</title>
</head>
<body>
    <div class="container">
        <div class="login-section">
            <div class="logo">
                <img src="./img/pic/Screen Shot 2019-04-18 at 4.47.03 PM.png">
            </div>
            <div class="log-text">
                <form action="">
                    <input type="text"  placeholder="Email">
                    <button class="login-btn" type="submit" >Request password change</button>
                </form>
                <div class="divider">
                    <a class="fo-btn" href="#">Back to login</a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>