<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="./index-style.css">
    <title>Author's Haven</title>
</head>
<body>
    <header class="head">
        <div class="nav">
            <div class="logo">
                <img src="./img/icon/icon.svg" alt="icon" class="icon">
                <a href="index.html" class="brand">Author's Haven</a>
            </div>
            <div class="categories">
                <ul>
                    <li>HOME</li>
                    <li>SPORT</li>
                    <li>CULTURE</li>
                    <li>ECONOMICS</li>
                    <li>ENTERTAINMENT</li>
                    <li>TECH</li>
                    <li>HEALTH</li>
                    <li>POLITICS</li>
                    <li>BUSINESS</li>
                </ul>
            </div>
            <a href="#" class="login">Log In</a>
            <a href="#" class="getStarted">Get Started</a>
        </div>
    </header>
    <div class="slider">
        <div class="slides animation">
            <div class="index">1 out of 4</div>
            <img src="./img/pic/clouds-daylight-forest.jpg" alt="Article image">
            <div class="article-title">Lorem Ipsum Dolor Sit Amet, Consectetur Adipiscing Elit.</div>
        </div>
        <div class="slides animation">
            <div class="index">2 out of 4</div>
            <img src="./img/pic/blur-branches.jpg" alt="Article image">
            <div class="article-title">Lorem Ipsum Dolor Sit Amet, Consectetur Adipiscing Elit.</div>
        </div>
        <div class="slides animation">
            <div class="index">3 out of 4</div>
            <img src="./img/pic/PARIS.jpg" alt="Article image">
            <div class="article-title">Lorem Ipsum Dolor Sit Amet, Consectetur Adipiscing Elit.</div>
        </div>
        <div class="slides animation">
            <div class="index">4 out of 4</div>
            <img src="./img/pic/Mountain.jpg" alt="Article image">
            <div class="article-title">Lorem Ipsum Dolor Sit Amet, Consectetur Adipiscing Elit.</div>
        </div>

        <a class="prev-slide" onclick="displaySlide(-1)">&#10094;</a>
        <a class="next-slide" onclick="displaySlide(1)">&#10095;</a>
       
    </div>

    <div class="bottom-dot">
        <span class="big-dot" onclick="thisSlide(1)"></span>
        <span class="big-dot" onclick="thisSlide(2)"></span>
        <span class="big-dot" onclick="thisSlide(3)"></span>
        <span class="big-dot" onclick="thisSlide(4)"></span>
    </div>
    <div class="container">
    <div class="other-articles">
        <div class="reading-history grid-element">
            <div class="article-header">From your Reading History</div>
            <div class="article"> 
                <div class="article-element">
                    <img src="./img/pic/Bridge.jpeg" alt="article Picture" class="article-picture">
                </div>
                <div class="article-content article-element">
                    <div class="article-head">
                         At Vero Eos Et Accusamus Et Iusto Odio Dignissimos.
                    </div>
                    <div class="article-mark">
                        <span class="author-name">Sergey Brot</span>
                        <span class="article-time time-style">  |  Mar 14</span>
                        <span class="read-time time-style">  .   4 min Read</span>
                    </div>
                    <div class="article-excerpt time-style">
                        Ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.  Read more...
                    </div>
                </div>
            </div>
            <div class="article"> 
                    <div class="article-element">
                        <img src="./img/pic/Bridge.jpeg" alt="article Picture" class="article-picture">
                    </div>
                    <div class="article-content article-element">
                        <div class="article-head">
                             At Vero Eos Et Accusamus Et Iusto Odio Dignissimos.
                        </div>
                       <div class="article-mark">
                            <span class="author-name">Sergey Brot</span>
                            <span class="article-time time-style">  |  Mar 14</span>
                            <span class="read-time time-style">  .   4 min Read</span>
                        </div> 
                        <div class="article-excerpt time-style">
                            Ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.  Read more...
                        </div>
                    </div>
            </div>
            <div class="article"> 
                    <div class="article-element">
                        <img src="./img/pic/Bridge.jpeg" alt="article Picture" class="article-picture">
                    </div>
                    <div class="article-content article-element">
                        <div class="article-head">
                             At Vero Eos Et Accusamus Et Iusto Odio Dignissimos.
                        </div>
                       <div class="article-mark">
                            <span class="author-name">Sergey Brot</span>
                            <span class="article-time time-style">  |  Mar 14</span>
                            <span class="read-time time-style">  .   4 min Read</span>
                        </div> 
                        <div class="article-excerpt time-style">
                            Ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.  Read more...
                        </div>
            </div>
            
            </div>
            <div class="article"> 
                    <div class="article-element">
                        <img src="./img/pic/Bridge.jpeg" alt="article Picture" class="article-picture">
                    </div>
                    <div class="article-content article-element">
                        <div class="article-head">
                             At Vero Eos Et Accusamus Et Iusto Odio Dignissimos.
                        </div>
                       <div class="article-mark">
                            <span class="author-name">Sergey Brot</span>
                            <span class="article-time time-style s">  |  Mar 14</span>
                            <span class="read-time time-style">  .   4 min Read</span>
                        </div> 
                        <div class="article-excerpt time-style">
                            Ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.  Read more...
                        </div>
                </div>
            </div>
        </div>
        <div class="featured grid-element">
                <div class="article-header">
                    <span class="side-header">Featured </span>
                    <span class="side-link">SEE ALL</span>
                </div>
                <hr class="h-line">
                <div class="side-article">
                <div class="side-article-head">
                        Sed ut perspiciatis unde omnis iste natus error sit voluptatem 
                </div>
                <div class="side-article-mark">
                        <span class="author-name side-author-name">Sergey Brot</span>
                        <span class="article-time time-style side-time-style">  |  Mar 14</span>
                        <span class="read-time time-style side-time-style">  .   4 min Read</span>
                </div>
            </div>
            <div class="side-article">
                    <div class="side-article-head">
                            Sed ut perspiciatis unde omnis iste natus error sit voluptatem 
                    </div>
                    <div class="side-article-mark">
                            <span class="author-name side-author-name">Sergey Brot</span>
                            <span class="article-time time-style side-time-style">  |  Mar 14</span>
                            <span class="read-time time-style side-time-style">  .   4 min Read</span>
                    </div>
            </div>
            <div class="side-article">
                    <div class="side-article-head">
                            Sed ut perspiciatis unde omnis iste natus error sit voluptatem 
                    </div>
                    <div class="side-article-mark">
                            <span class="author-name side-author-name">Sergey Brot</span>
                            <span class="article-time time-style side-time-style">  |  Mar 14</span>
                            <span class="read-time time-style side-time-style">  .   4 min Read</span>
                    </div>
            </div>
            <div class="side-article">
                    <div class="side-article-head">
                            Sed ut perspiciatis unde omnis iste natus error sit voluptatem 
                    </div>
                    <div class="side-article-mark">
                            <span class="author-name side-author-name">Sergey Brot</span>
                            <span class="article-time time-style side-time-style">  |  Mar 14</span>
                            <span class="read-time time-style side-time-style">  .   4 min Read</span>
                    </div>
            </div>
            <div class="side-article">
                    <div class="side-article-head">
                            Sed ut perspiciatis unde omnis iste natus error sit voluptatem 
                    </div>
                    <div class="side-article-mark">
                            <span class="author-name side-author-name">Sergey Brot</span>
                            <span class="article-time time-style side-time-style">  |  Mar 14</span>
                            <span class="read-time time-style side-time-style">  .   4 min Read</span>
                    </div>
            </div>
        </div>
        <div class="latest grid-element">
                <div class="article-header">
                        <span class="side-header">Latest</span>
                        <span class="side-link">SEE ALL</span>
                    </div>
                <hr class="h-line">
                <div class="side-article">
                        <div class="side-article-head">
                                Sed ut perspiciatis unde omnis iste natus error sit voluptatem 
                        </div>
                        <div class="side-article-mark">
                                <span class="author-name side-author-name">Sergey Brot</span>
                                <span class="article-time time-style side-time-style">  |  Mar 14</span>
                                <span class="read-time time-style side-time-style">  .   4 min Read</span>
                        </div>
                </div>
                <div class="side-article">
                        <div class="side-article-head">
                                Sed ut perspiciatis unde omnis iste natus error sit voluptatem 
                        </div>
                        <div class="side-article-mark">
                                <span class="author-name side-author-name">Sergey Brot</span>
                                <span class="article-time time-style side-time-style">  |  Mar 14</span>
                                <span class="read-time time-style side-time-style">  .   4 min Read</span>
                        </div>
                </div>
                <div class="side-article">
                        <div class="side-article-head">
                                Sed ut perspiciatis unde omnis iste natus error sit voluptatem 
                        </div>
                        <div class="side-article-mark">
                                <span class="author-name side-author-name">Sergey Brot</span>
                                <span class="article-time time-style side-time-style">  |  Mar 14</span>
                                <span class="read-time time-style side-time-style">  .   4 min Read</span>
                        </div>
                </div>
                <div class="side-article">
                        <div class="side-article-head">
                                Sed ut perspiciatis unde omnis iste natus error sit voluptatem 
                        </div>
                        <div class="side-article-mark">
                                <span class="author-name side-author-name">Sergey Brot</span>
                                <span class="article-time time-style side-time-style">  |  Mar 14</span>
                                <span class="read-time time-style side-time-style">  .   4 min Read</span>
                        </div>
                </div>
                <div class="side-article">
                        <div class="side-article-head">
                                Sed ut perspiciatis unde omnis iste natus error sit voluptatem 
                        </div>
                        <div class="side-article-mark">
                                <span class="author-name side-author-name">Sergey Brot</span>
                                <span class="article-time time-style side-time-style">  |  Mar 14</span>
                                <span class="read-time time-style side-time-style">  .   4 min Read</span>
                        </div>
                </div>
        </div>
    </div>
    </div>

    <script>
    var slideIndex = 1;
    showSlides(slideIndex);

   function displaySlide(n) {
      showSlides(slideIndex += n);
   }

   function thisSlide(n) {
      showSlides(slideIndex = n);
   }

   function showSlides(n) {
      var i;
      var slides = document.getElementsByClassName("slides");
      var dots = document.getElementsByClassName("big-dot");
      if (n > slides.length) {slideIndex = 1} 
      if (n < 1) {slideIndex = slides.length}
      for (i = 0; i < slides.length; i++) {
        slides[i].style.display = "none"; 
      }
      for (i = 0; i < dots.length; i++) {
        dots[i].className = dots[i].className.replace(" active", "");
      }
   slides[slideIndex-1].style.display = "block"; 
   dots[slideIndex-1].className += " active";
}
</script>


</body>
</html>