<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href="./css//login.css">
    <title>Login</title>
</head>
<body>
    <div class="container">
        <div class="login-section">
            <div class="logo">
                <img src="./img/pic/Screen Shot 2019-04-18 at 4.47.03 PM.png">
            </div>
            <div class="log-text">
                <form action="">
                    <input type="text"  placeholder="Email or Username">
                    <input type="password" placeholder="Password">
                    <a class="fo-btn" href="#">Forgot password</a>
                    <button class="login-btn" type="submit" >Login</button>
                </form>
            </div>
            <div class="log-btn">
                <div class="title-login">
                    <p>Sign-in with</p>
                </div>
                <div class="login-button-section">
                    <div class="social-login-btn">
                        <a class="social-btn"><i class="fab fa-github fa-2x"></i></a>
                    </div>
                    <div class="social-login-btn">
                        <a class="social-btn"><i class="fab fa-twitter fa-2x"></i></a>
                    </div>
                    <div class="social-login-btn">
                        <a class="social-btn"><i class="fab fa-facebook-f fa-2x"></i></a>
                    </div>
                    <div class="social-login-btn">
                        <a class="social-btn"><i class="fab fa-google-plus-g fa-2x"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>